{% extends "base.html" %}

{% block content %}

<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY29kZWZvcmFtZXJpY2EiLCJhIjoiSTZlTTZTcyJ9.3aSlHLNzvsTwK-CYfZsG_Q';
var map = L.mapbox.map('map', 'mapbox.streets')
  .setView([38.58024, -121.5305], 15);

var featureGroup = L.featureGroup().addTo(map);

var drawControl = new L.Control.Draw({
draw: {
  circle: false,
  rectangle: false,
  marker: false,
  polyline: false
},
edit: {
  featureGroup: featureGroup
}
}).addTo(map);

map.on('draw:created', function(e) {
  featureGroup.addLayer(e.layer);
});
</script>


{% endblock %}
